
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<div class="card">
    <div class="card-header">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group form-group--float">
                    <select type="text" class="form-control" asp-items="(SelectList)ViewBag.Customers">
                        <option>Select Customer</option>
                    </select>

                    <i class="form-group__bar"></i>
                </div>
                <div class="form-group form-group--float">
                    <select type="text" class="form-control" asp-items="(SelectList)ViewBag.Tours">
                        <option>Select Tour</option>
                    </select>
                    <i class="form-group__bar"></i>
                </div>
            </div>
        </div>
    </div>
</div>